.hero{
    /* border: 1px solid rgb(89, 255, 0); */

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;

    background: var(--primary-dar-blue-intro) url(../../images/bg-curvy-desktop.svg) no-repeat bottom;
    background-size: 100%;
    padding-top: 3rem;
    padding-bottom: 12rem;
}

.hero__title{
    width: min(100% - 3rem, 720px);

    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 2.5rem;
    line-height: 1.5;
}

.hero__text{
    width: min(100% - 3rem, 720px);
    
    font-family: var(--font-secondary);
    padding: 0 7rem;
    line-height: 1.5;
}

.hero__button{
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    border: none;
    border-radius: 7rem;
    padding: 1rem 1.5rem;
    background: linear-gradient(
        90deg,
        var(--accent-cyan-gradient-1) 0%,
        var(--accent-Blue-gradient-2) 35%
         );
    line-height: 1.5;
    color: var(--neutral-white);
    min-width: 220px;
}