@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root{
    /*FONTS */
    --font-primary: 'Raleway', 'sans-serif';
    --font-secondary: 'Open Sans', 'sans-serif';
    --font-size: 14px;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    
    /* COLORS */
    --primary-dar-blue-intro: hsl(217, 28%, 15%);
    --primary-dar-blue-main: hsl(218, 28%, 13%);
    --primary-dar-blue-footer: hsl(216, 53%, 9%);
    --primary-dar-blue-testimonials: hsl(219, 30%, 18%);

    --accent-cyan-gradient-1: hsl(176, 68%, 64%);
    --accent-Blue-gradient-2: hsl(198, 60%, 50%);
    --accent-light-red-error: hsl(0, 100%, 63%);

    --neutral-white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: var(--font-size);
}

img {
    max-width: 100%;
    height: auto;
}

body{
    background-color: var(--primary-dar-blue-intro);
    color: var(--neutral-white);
}

a{
    color: inherit;
    text-decoration: none;
}

.wrapper{
    width: min(100% - 3rem, 1440px);
    margin: 0 auto;
}

.header{
    font-family: var(--font-primary);
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 2rem;

    display: flex;
    justify-content:space-between;
}

.navigation{
    display: none;
}

#menu-toggle{
    display: none;
}

#menu-toggle:checked + .navigation{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    background-color: var(--primary-dar-blue-footer);
}

#menu-toggle:checked + .navigation .header__nav{
    flex-direction: column;
}

.header__nav{
    /* border: 1px solid rgb(0, 238, 255); */
    list-style: none;
    margin: 10px;
    padding: 10px;

    display: flex;
    gap: 2rem;
}

.hero{
    /* border: 1px solid rgb(89, 255, 0); */

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;

    background: var(--primary-dar-blue-intro) url(../images/bg-curvy-desktop.svg) no-repeat bottom;
    background-size: 100%;
    padding-top: 3rem;
    padding-bottom: 12rem;
}

.hero__title{
    width: min(100% - 3rem, 720px);

    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 2.5rem;
    line-height: 1.5;
}

.hero__text{
    width: min(100% - 3rem, 720px);
    
    font-family: var(--font-secondary);
    padding: 0 7rem;
    line-height: 1.5;
}

.hero__button{
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    border: none;
    border-radius: 7rem;
    padding: 1rem 1.5rem;
    background: linear-gradient(
        90deg,
        var(--accent-cyan-gradient-1) 0%,
        var(--accent-Blue-gradient-2) 35%
         );
    line-height: 1.5;
    color: var(--neutral-white);
    min-width: 220px;
}

.feature{
    background-color: var(--primary-dar-blue-main);
    display: grid;
    grid-template-columns: 340px ;
    justify-content: center;
    gap: 5rem;
}

@media (min-width: 768px){
    .feature{
        grid-template-columns: 340px 340px;

    }

}
/*
576px -> pantallas pequeñas (celulares)
768px -> pantallas pequeñas (tablets y ceulares)
992px -> pantallas medianas (Desktop)
1200px -> pantallas grandes (Desktops, TVs)
*/


.features{

    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.features__title{
    font-family: var(--font-primary);

}

.feature__text{
    font-family: var(--font-secondary);

}

.collaboration{
    background-color: var(--primary-dar-blue-main);
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    padding-top: 8rem;
    align-items: center;
    gap: 4rem;
    justify-content: center;
}

.image{
    width: 100%;
}

@media (min-width: 768px) {
    .collaboration{
        flex-direction: row;
    }
    .image{
        width: 50%;
    }
    .info{
        width: 50%;
    }
}

.info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.info__text{
    font-family: var(--font-secondary);
}

.info__title{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 2.5rem;
    line-height: 1.2;
}

.info__link{
    color: var(--accent-cyan-gradient-1);
    border-bottom: 1px solid var(--accent-cyan-gradient-1) ;
    margin-right: auto;
    padding-bottom: 0.2rem;
    display: flex;
    gap: 0.3rem;
}

.testimonials{
    background-color: var(--primary-dar-blue-main);
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    padding-top: 8rem;
    padding-bottom: 15rem;
    align-items: center;
    gap: 2.6rem;
    justify-content: center;
}

@media (min-width: 768px) {
    .testimonials{
        flex-direction: row;
    }
}

.testimonial{
    background-color: var(--primary-dar-blue-testimonials);
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    position: relative;
}

.testimonial--wrapperquote {
    position: relative;
}

.testimonial__quote{
    position: absolute;
    top: -35px;
    left: -10px;
}


.testimonial__text{
    font-family: var(--font-secondary);
}

.testimonial__group{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: var(--font-secondary);
}


.testimonial__group img{
    border-radius: 50%;
}

.testimonial__group h5{
    font-weight: var(--font-weight-regular);
}

.access {
    font-family: var(--font-primary);
  width: min(100% - 3rem, 53rem);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-dar-blue-testimonials);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.6);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
}

.access h2{
    font-size: 2rem;
}

.access p{
    text-align: center;
}

.access input[type=email] {
    border-radius: 1.5rem;
    border: none;
    padding: 1rem 2rem;
    min-width: 22rem;
}
 

.access input[type=submit] {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    border: none;
    border-radius: 7rem;
    padding: 1rem 1.5rem;
    line-height: 1.5;
    min-width: 22rem;
    color: var(--neutral-white);
    background:
      linear-gradient(
        90deg,
        var(--accent-cyan-gradient-1) 0%,
        var(--accent-Blue-gradient-2) 35%
      )
    ;
    cursor: pointer;
}

.access form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 768px) {
    .access form{
        flex-direction: row;
    }
    .access input[type=submit] {
        min-width: 220px;
    }
    .access input[type=email] {
        min-width: 30rem;
    }
}

.footer{
    background-color: var(--primary-dar-blue-footer);
    font-family: var(--font-secondary);
    padding: 15rem 0 5rem 0;
    position: relative;
}

.footer--wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin: 0 auto;
    width: min(100% - 3rem, 76rem);

}

.footer__info{
    display: grid;
    grid-template-columns: 2fr;
    gap: 5rem;
}

@media (min-width: 768px) {
    .footer__info {
        grid-template-columns: 2fr 3fr 0.5fr 0.5fr 1fr;
    }
    
}


.footer__info__description{
    width: 22rem;

    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.footer__info__contact{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.footer__info__contact span{
    display: flex;
    gap: 1.5rem;

}

.footer__info__links{
    display: none;
    flex-direction: column;
    gap: 1.5rem;
}


@media (min-width: 1190px) {
    .footer__info__links{
        display: flex;
    }
}


.footer__info__social{
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

.footer__info__social a {
  border: 1px solid var(--neutral-white);
  border-radius: 50%;
  padding: 3px;
  width: 32px;
  height: 32px;
}
.footer__info__social a:hover,
.footer__info__social a:hover path {
  border: 1px solid var(--accent-cyan-gradient-1);
  fill:  var(--accent-cyan-gradient-1);
}
