@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root{
    /*FONTS */
    --font-primary: 'Raleway', 'sans-serif';
    --font-secondary: 'Open Sans', 'sans-serif';
    --font-size: 14px;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    
    /* COLORS */
    --primary-dar-blue-intro: hsl(217, 28%, 15%);
    --primary-dar-blue-main: hsl(218, 28%, 13%);
    --primary-dar-blue-footer: hsl(216, 53%, 9%);
    --primary-dar-blue-testimonials: hsl(219, 30%, 18%);

    --accent-cyan-gradient-1: hsl(176, 68%, 64%);
    --accent-Blue-gradient-2: hsl(198, 60%, 50%);
    --accent-light-red-error: hsl(0, 100%, 63%);

    --neutral-white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: var(--font-size);
}

img {
    max-width: 100%;
    height: auto;
}

body{
    background-color: var(--primary-dar-blue-intro);
    color: var(--neutral-white);
}

a{
    color: inherit;
    text-decoration: none;
}

.wrapper{
    width: min(100% - 3rem, 1440px);
    margin: 0 auto;
}

.header{
    font-family: var(--font-primary);
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 2rem;

    display: flex;
    justify-content:space-between;
}

.header__nav{
    /* border: 1px solid rgb(0, 238, 255); */
    list-style: none;
    margin: 10px;
    padding: 10px;

    display: flex;
    gap: 2rem;
}

.hero{
    /* border: 1px solid rgb(89, 255, 0); */

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;

    background: var(--primary-dar-blue-intro) url(../images/bg-curvy-desktop.svg) no-repeat bottom;
    background-size: 100%;
    padding-top: 3rem;
    padding-bottom: 12rem;
}

.hero__title{
    width: min(100% - 3rem, 720px);

    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 2.5rem;
    line-height: 1.5;
}

.hero__text{
    width: min(100% - 3rem, 720px);
    
    font-family: var(--font-secondary);
    padding: 0 7rem;
    line-height: 1.5;
}

.hero__button{
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    border: none;
    border-radius: 7rem;
    padding: 1rem 1.5rem;
    background: linear-gradient(
        90deg,
        var(--accent-cyan-gradient-1) 0%,
        var(--accent-Blue-gradient-2) 35%
         );
    line-height: 1.5;
    color: var(--neutral-white);
    min-width: 220px;
}

.feature{
    background-color: var(--primary-dar-blue-main);
    display: grid;
    grid-template-columns: 340px 340px;
    justify-content: center;
    gap: 5rem;
}

.features{

    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.features__title{
    font-family: var(--font-primary);

}

.feature__text{
    font-family: var(--font-secondary);

}

.collaboration{
    background-color: var(--primary-dar-blue-main);
    display: flex;
    padding: 0 4rem;
    padding-top: 8rem;
    align-items: center;
    gap: 4rem;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 33rem;
}

.info__text{
    font-family: var(--font-secondary);
}

.info__title{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 2.5rem;
    line-height: 1.2;
}

.info__link{
    color: var(--accent-cyan-gradient-1);
    border-bottom: 1px solid var(--accent-cyan-gradient-1) ;
    margin-right: auto;
    padding-bottom: 0.2rem;
    display: flex;
    gap: 0.3rem;
}

.testimonials{
    background-color: var(--primary-dar-blue-main);
    display: flex;
    padding: 0 4rem;
    padding-top: 8rem;
    align-items: center;
    gap: 2.6rem;
    justify-content: center;
}

.testimonial{
    background-color: var(--primary-dar-blue-testimonials);
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}



.testimonial__text{
    width: 21rem;
    font-family: var(--font-secondary);
}

.testimonial__group{
    display: flex;
    align-items: center;
    gap: .5rem;
}


.testimonial__group img{
    border-radius: 50%;
}

.testimonial__group h5{
    font-weight: var(--font-weight-regular);
}

.access{
    background-color: var(--primary-dar-blue-main);
    display: flex;
    justify-content: center;
    position: relative;
    height: 250px;
}

.access__container {
    background-color: var(--primary-dar-blue-intro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    position: absolute;
    bottom: -30%;
    padding: 1rem;
}

.access__container h2{
    font-family: var(--font-primary);
    padding: 1rem;
}

.access__container p{
    font-family: var(--font-secondary);
    font-size: 11px;
    padding: 0 4rem;
    padding-bottom: 2rem;
}

.access__form{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.access__text {
    border-radius: 50px;
    padding: 0.7rem;
    width: 50%;
    border: none;
}

.access__button{
    background: linear-gradient(
        90deg,
        var(--accent-cyan-gradient-1) 0%,
        var(--accent-Blue-gradient-2) 35%
    );
    color: var(--neutral-white);
    font-weight: var(--font-weight-bold);
    padding: 0.7rem;
    border-radius: 50px;
    width: auto;
    text-align: center;
    cursor: pointer;
    border: none;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-dar-blue-footer);
    padding: 8rem 4rem;
    gap: 2rem;
}

.footer__info{
    display: flex;
    gap: 3rem;
}


.footer__div1{
    width: 25%;
}

.footer__div2{
    width: 20%;
}

.footer__div3{
    width: 15%;
}

.footer__div4{
    width: 15%;
}
.footer__div5{
    width: 20%;
}

.footer__text{
    display: flex;
    gap: 1.5rem;
    align-items: start;
    padding: .5rem 0;
}