.projects{
    display: flex;
    flex-direction: column;

    text-align: center;

    margin-top: 5rem;
    gap: 2rem;
    
    span{
        font-size: 1.5rem;
        color: $primary-dark-gold;
        font-weight: $font-weight-semibold;
        padding: 0.375rem 1.6875rem;
        background-color: $primary-dark-blue3;
        border-radius: 3.125rem ;
        margin: auto;

        text-transform: uppercase;

    }

    &__title{
        font-size: 3rem;
        font-weight: $font-weight-semibold;
    }

    &__tabs{
        display: flex;
        justify-content: center;
        font-weight: $font-weight-semibold;
        gap: 3rem;
    }

    &__tabs a{

        transition: color ease .6s;
    }
    
    &__tabs a:hover,
    &__tabs--active{
        color: $primary-dark-gold;
        cursor: pointer;
        border-bottom: 3px solid $primary-dark-gold;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        gap: 2rem;
        justify-content: center;
    }

    &__item{
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__img{
        width: 100%;
        height: 100%;
        border-radius: 5.27px;
    }

    &__cover{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $primary-dark-gold;
      
        flex-direction: column;
        padding: 0 1rem;
        color: black;
      
        transition: all ease .3s;

    }
    &__cover
    &__item:hover{
        display: block;
        
    }

    &__cover h3{
        font-size: 3rem;
        height: 40%;
        display: inherit;
        justify-content: center;
        align-items: center;
        
    }
    &__cover p{
        height: 30%;
        display: inherit;
        justify-content: center;
        align-items: center;
    }

    &__links{
        height: 30%;
        display: inherit;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
}