.skills{
    display: flex;
    align-items: center;

    &__info{
        display: flex;
        flex-direction: column;

        padding: 2.8rem;

        
        width: 55%;
    }

    &__tag{
        font-size: 1.5rem;
        color: $primary-dark-gold;
        font-weight: $font-weight-semibold;
        padding: 0.375rem 1.6875rem;
        margin-right: auto;
        background-color: $primary-dark-blue3;
        border-radius: 3.125rem ;
        
    }

    &__title{
        font-size: 3rem;
        line-height: normal;
        font-weight: $font-weight-bold;
    }

    &__content{
        margin: 1rem 0;
    }

    &__content a{
        font-weight: $font-weight-bold;
        color: $primary-dark-gold;
    }

    &__list{
        width: 45%;
        display: grid;
        grid-template-columns: repeat(6, 5rem);
        grid-template-rows: repeat(4, 5rem);
    
        grid-template-areas: 
          ". . b1 . . ."
          ". . b2 b3 . ."
          ". b4 b5 b6 b7 ."
          "b8 b9 b10 b11 b12 b13";
        
        gap: .5rem;
        position: relative;
    }

    &__box{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 5rem;
        width: 5rem;

        border-radius: 0.5rem;
        background-color: $primary-dark-blue1;
    }
    &__box:nth-child(1) {
        grid-area: b1;  
    
        position: absolute;
        top: 0;
        left: 2.5rem;
      }
    
      &__box svg {
        width: 50px;
        height: 50px;
      }
    
      &__box:nth-child(2) {
        grid-area: b2;
      }
    
      &__box:nth-child(3) {
        grid-area: b3;
      }
    
      &__box:nth-child(4) {
        grid-area: b4;
      }
    
      &__box:nth-child(5) {
        grid-area: b5;
      }
    
      &__box:nth-child(6) {
        grid-area: b6;
      }
    
      &__box:nth-child(7) {
        grid-area: b7;
      }
    
      &__box:nth-child(8) {
        grid-area: b8;
      }
    
      &__box:nth-child(9) {
        grid-area: b9;
      }
    
      &__box:nth-child(10) {
        grid-area: b10;
      }
    
      &__box:nth-child(11) {
        grid-area: b11;
      }
    
      &__box:nth-child(12) {
        grid-area: b12;
      }
    
      &__box:nth-child(13) {
        grid-area: b13;
      }
}